@media (max-width: 1399px) {
	.promo {
		.header {
			.menu {
				.menu__list {
					margin-right: 97px;
				}
			}
		}

		&__uxui {
			margin-left: 103px;
		}
	}

	.portfolio {
		&__content {
			.all {
				grid-template: repeat(3, 350px) / repeat(6, 175px);
				.portfolio__image {
					grid-column: span 2;
					&:nth-child(7) {
						grid-column: 2 / 4;
					}
					&:last-child {
						grid-column-start: 4 / 6;
					}
				}
			}
		}
	}

	.testimonial {
		&__wrapper {
			grid-template-columns: 670px 440px;
		}
		.vertical-text {
			display: none;
		}
	}
}

@media (max-width: 1199px) {
	.promo {
		padding-left: 15px;

		&__wrapper {
			max-width: 756px;
			padding-left: 119px;
		}

		.header {
			z-index: 10;

			.menu {
				position: fixed;
				display: flex;
				padding-top: 60px;
				padding-bottom: 20px;
				top: 0;
				left: -100%;
				background-color: $black-color;
				flex-direction: column;
				width: 54%;
				height: 100vh;
				transition: all 0.8s cubic-bezier(0.8, 0.5, 0.2, 1);

				&__list {
					position: relative;
					display: block;
					width: 100%;
					margin-right: 0;
				}

				&__item {
					font-size: 50px;
					text-align: center;
					.white {
						color: $main-color;
						&:hover {
							color: $white-color;
						}
					}
				}
				&__link {
					// display: block;
					&:hover {
						transform: scale(1.2);
					}
					color: $main-color;
				}
			}

			.active {
				left: 0;
			}
		}

		&__uxui {
			height: 100px;
			margin-left: 90px;
		}

		&__ux,
		&__ui {
			font-size: 123px;
		}

		.burger-menu {
			display: flex;
			cursor: pointer;
			z-index: 11;
		}
	}

	.descr {
		max-width: 740px;
	}

	.about {
		.item {
			width: 251px;
		}
	}

	.services {
		.item {
			width: 251px;
			&:first-child {
				.item__title {
					max-width: 200px;
				}
			}
		}
	}

	.portfolio {
		&__content {
			.all {
				grid-template: repeat(3, 320px) / repeat(6, 160px);
			}
			.graphic-desing,
			.logo-branding {
				grid-template: 350px / repeat(3, 320px);
			}
			.uiux-design {
				grid-template: repeat(1, 320px) / repeat(2, 320px);
			}
		}
	}

	.testimonial {
		&__wrapper {
			grid-template-columns: 580px 340px;
			column-gap: 15px;
			justify-content: center;
		}

		&__header {
			font-size: 55px;
			&::before {
				width: 129px;
				bottom: 2px;
			}
		}
	}
}

@media (max-width: 991px) {
	.promo {
		padding-left: 15px;

		&__wrapper {
			max-width: 720px;
			padding-left: 110px;
		}

		.header {
			&__text {
				margin-left: 5px;
			}
		}

		&__uxui {
			height: 91px;
			margin-left: 60px;

			span {
				width: 30px;
				height: 30px;
			}
		}

		&__ux,
		&__ui {
			font-size: 96px;
		}
	}
	.about,
	.services {
		padding-top: 90px;
		padding-bottom: 90px;
		&__wrapper {
			padding-left: 90px;
			padding-right: 75px;
		}
		&__items {
			justify-content: center;
		}
	}

	.services {
		&__items {
			margin-top: 0;
		}
	}

	.portfolio {
		padding-top: 90px;
		&__title,
		&__descr {
			margin-left: 90px;
			padding-right: 75px;
		}
		&__tabs {
			margin-left: 90px;
		}
		&__content {
			.all {
				grid-template: repeat(3, 250px) / repeat(6, 125px);
			}
			.graphic-desing,
			.logo-branding {
				grid-template: 250px / repeat(3, 250px);
			}
			.uiux-design {
				grid-template: repeat(1, 250px) / repeat(2, 250px);
			}
		}
	}

	.testimonial {
		padding-top: 80px;
		&__wrapper {
			padding-right: 15px;
			grid-template-rows: 50px 1fr 160px;
			row-gap: 20px;
			grid-template-columns: auto;
			justify-content: center;
		}

		&__content {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
		}

		&__header {
			width: 379px;
			margin: 0 auto;
			grid-row: 1 / 2;
			grid-column: 1 / 2;
		}

		&__buttons_desctop {
			display: none;
		}

		&__buttons_mobile {
			display: block;
			grid-row: 3 / 4;
			grid-column: 1 / 2;
		}
	}

	.hello {
		margin-top: 90px;
	}

	.footer {
		padding-top: 100px;

		&__text {
			flex-direction: column-reverse;
			align-items: center;
		}
		&__rights {
			margin-top: 15px;
		}
	}
}

@media (max-width: 767px) {
	.promo {
		&::after {
			height: 150px;
			bottom: -70px;
		}

		&__wrapper {
			padding-left: 45px;
		}

		&__title {
			margin-right: 7px;
		}

		&__uxui {
			height: 86px;
			margin-left: 30px;

			span {
				width: 24px;
				height: 24px;
			}
		}

		&__ux,
		&__ui {
			font-size: 83px;
		}
	}

	.title {
		font-size: 58px;
		span {
			font-size: 58px;
		}
	}
	.vertical-text {
		display: none;
	}
	.about,
	.services {
		&::after {
			height: 150px;
			bottom: -75px;
		}
		padding-top: 80px;
		padding-bottom: 80px;
		&__items {
			margin-top: 0;
		}
		.item {
			margin-top: 65px;
			width: 365px;
			&__title,
			&__descr {
				margin-top: 15px;
			}
		}
	}

	.services {
		.item {
			&:first-child {
				.item__title {
					max-width: 365px;
				}
			}
			&__btn {
				margin-top: 25px;
			}
		}
	}

	.portfolio {
		padding-top: 80px;
		&__content {
			.all {
				grid-template: repeat(4, 250px) / repeat(2, 250px);
				.portfolio__image {
					grid-column: span 1;
					&:nth-child(7) {
						grid-column: 1 / 2;
					}
					&:last-child {
						grid-column-start: 3 / 4;
					}
				}
			}
			.graphic-desing,
			.logo-branding {
				grid-template: repeat(2, 250px) / repeat(4, 125px);
				.portfolio__image {
					grid-column: span 2;
					&:last-child {
						grid-column: 2 / 4;
					}
				}
			}
			.uiux-design {
				grid-template: repeat(1, 250px) / repeat(2, 250px);
			}
		}
	}

	.hello {
		padding-top: 50px;
		padding-bottom: 80px;
		&::after {
			height: 150px;
			bottom: -70px;
		}
		.title {
			font-size: 55px;
			span {
				font-size: 55px;
			}
		}
	}
}

@media (max-width: 575px) {
	.promo {
		padding-left: 15px;
		&::after {
			display: none;
		}
		.header {
			.menu {
				width: 100%;
			}
		}

		&__left-overlay {
			width: 100%;
		}
		&__right-overlay {
			display: none;
		}

		.burger-menu {
			z-index: 20;
			right: 30px;
			span {
				background-color: $main-color;
			}
		}

		&__wrapper {
			padding-left: 5px;
		}

		.title {
			flex-direction: column;
			justify-content: center;
			font-size: 63px;
			color: $main-color;
			line-height: 24px;
			span {
				color: $white-color;
				font-size: 30px;
				margin-left: -78px;
			}
		}

		&__uxui_mobile {
			display: inline-block;
		}
		&__ux_mobile {
			line-height: 122px;
		}
	}

	.title {
		font-size: 58px;
		justify-content: center;
		span {
			font-size: 58px;
		}
	}

	.about,
	.services {
		padding-top: 50px;
		&::after {
			display: none;
		}
		&__wrapper {
			padding: 10px;
		}
	}

	.services {
		.item {
			.item__title {
				width: 200px;
			}
			&:first-child {
				.item__title {
					width: 200px;
				}
			}
		}
	}
	.descr {
		margin-top: 20px;
	}

	.portfolio {
		padding-top: 50px;

		&__title,
		&__descr {
			margin-left: 10px;
			padding-right: 10px;
		}

		&__tabs {
			flex-direction: column;
			height: 150px;
			margin-top: 40px;
		}

		&__content {
			.all {
				grid-template: repeat(7, 300px) / 300px;
				&:last-child {
					grid-column-start: 1 / 2;
				}
			}
			.graphic-desing,
			.logo-branding {
				grid-template: repeat(3, 300px) / 300px;
				.portfolio__image {
					grid-column: span 1;
					&:last-child {
						grid-column: 1 / 2;
					}
				}
			}
			.uiux-design {
				grid-template: repeat(2, 300px) / 300px;
			}
		}
	}

	.testimonial {
		&__wrapper {
			padding-right: 15px;
			grid-template-rows: 50px 1fr 160px;
			row-gap: 20px;
			grid-template-columns: auto;
		}

		&__content {
			max-height: 380px;
			padding: 14%;
			&-quote {
				width: 25px;
				height: 17px;
			}
			&-descr {
				margin-top: 30px;
				font-size: 20px;
			}
			&-author {
				font-size: 16px;
				span {
					font-size: 16px;
				}
			}
		}

		&__header {
			width: 260px;
			font-size: 38px;
			margin: 0 auto;
			grid-row: 1 / 2;
			grid-column: 1 / 2;
			&::before {
				width: 88px;
				bottom: 8px;
			}
		}
	}

	.hello {
		&::after {
			display: none;
		}
	}

	.footer {
		padding-top: 50px;

		&__links {
			flex-direction: column;
			align-items: center;
		}

		&__social {
			margin-top: 25px;
			margin-left: 0;
		}

		&__rights {
			margin-top: 40px;
			text-align: center;
		}
	}
}
