.about {
	position: relative;
	padding-top: 143px;
	padding-bottom: 144px;
	margin: 0 auto;
	max-width: 1605px;
	@include section_line;
	&::after {
		right: 80px;
		bottom: -122px;
		z-index: 2;
	}

	&__wrapper {
		position: relative;
		margin: 0 auto;
		padding-left: 150px;
	}

	&__items {
		margin-top: 61px;
		display: flex;
		flex-wrap: wrap;
	}

	.item {
		margin-top: 20px;
		width: 336px;

		&__icon {
			position: relative;
			height: 75px;

			img {
				height: 100%;
			}
			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				top: 50%;
				transform: translateY(-50%);
				width: 238px;
				height: 13px;
				background-color: $main-color;
			}
		}

		&__title {
			margin-top: 33px;
			font-size: 48px;
			font-weight: 600;
			font-style: italic;
			line-height: 45px;
		}

		&__descr {
			margin-top: 36px;
			font-weight: 500;
			line-height: 1.44;
			a {
				color: $main-color;
			}
		}
	}
	&__vertical-text {
		right: 40px;
		top: 0;
		height: 321px;
	}
}
