.button {
	position: relative;
	z-index: 2;
	display: block;
	width: 216px;
	height: 64px;
	padding-top: 24px;
	border: 2px solid $white-color;
	border-radius: 5px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 13px;
	transition: all 0.9s;
	transform: translateY(0%);
	&:hover {
		transform: translateY(6%);
	}

	span {
		position: relative;
		color: $white-color;
		@include before_circle;
		@include after_line;
	}
}
