.button {
	position: relative;
	z-index: 2;
	display: block;
	width: 216px;
	height: 64px;
	padding-top: 24px;
	border: 2px solid $white-color;
	border-radius: 5px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 13px;
	transition: all 0.6s;
	transform: translateY(0%);
	&:hover {
		transform: translateY(6%);
	}

	span {
		position: relative;
		color: $white-color;
		@include before_circle;
		@include after_line;
	}
}

.submit__button {
	display: inline-block;
	margin-top: 17px;
	border-color: $black-color;
	padding: 0;
	background-color: #fff;
	cursor: pointer;

	span {
		color: $black-color;
	}

	&:hover {
		transition: all 0.9s;
		border-color: $main-color;

		span {
			transition: all 0.9s;
			color: $main-color;

			&::after {
				transition: all 0.9s;
				right: -65px;
				width: 50px;
				background-color: $black-color;
			}

			&::before {
				transition: all 0.9s;
				background-color: $black-color;
			}
		}
	}
}
