.services {
	padding-top: 123px;
	padding-bottom: 144px;
	position: relative;
	max-width: 1605px;
	margin: 0 auto;

	background-color: #f8fafa;
	@include section_line;
	&::after {
		left: 80px;
		bottom: -142px;
	}

	&__wrapper {
		position: relative;
		margin: 0 auto;
		padding-left: 150px;
	}

	&__items {
		margin-top: 51px;
		display: flex;
		flex-wrap: wrap;
	}

	.item {
		margin-top: 80px;
		max-width: 336px;

		&__icon {
			svg {
				height: 52px;
				path {
					fill: $black-color;
				}
			}
		}

		&__title {
			margin-top: 30px;
			font-size: 36px;
			font-weight: 600;
			line-height: 30px;
			text-transform: uppercase;
		}

		&__descr {
			margin-top: 22px;
		}
		&__btn {
			margin-top: 52px;
			transition: all 0.9s;
			border-color: $black-color;

			span {
				color: $black-color;
			}

			&:hover {
				transition: all 0.9s;
				border-color: $main-color;
				span {
					transition: all 0.9s;
					color: $main-color;
					&::after {
						transition: all 0.9s;
						right: -56px;
						width: 57px;
						background-color: $black-color;
					}
					&::before {
						transition: all 0.9s;
						background-color: $black-color;
					}
				}
			}
		}
	}
}
